            @media (max-width:425px) {
                h2 {
                    font-size: 26px;
                    line-height: 30px;
                }
                h3 {
                    font-size: 20px;
                    line-height: 25px;
                }
                .header {
                    flex-direction: column;
                    align-items: center;
                }
                .header img {
                    width: 55px;
                    margin-bottom: 5px;
                }
                .main_menu {
                    display: none;
                }
                .slogan {
                    width: 100%;
                }
                .wrapper {
                    flex-direction: column;
                }
                .ad {
                    width: 100%;
                }
                .ad p {
                    font-size: 5vw;
                }
                .gallery_item {
                    flex-direction: column;
                    justify-content: center;
                }
                .gallery_item:nth-child(2) {
                    flex-direction: column-reverse;
                }
                .gallery_item h3 {
                    align-items: center;
                    vertical-align: middle;
                    padding: 50px;
                }
                .container {
                    width: 90%;
                }
                iframe {
                    width: 100%;
                }
                .footer {
                    flex-direction: column;
                    align-items: center;
                }
                .transfer thead {
                    display: none;
                }
                .transfer tr {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    margin-bottom: 20px;
                }
                .transfer td {
                    position: relative;
                    margin: 0 -1px -1px 0;
                    padding-top: 35px;
                    width: 45%;
                }
                .transfer {
                    width: 100%;
                }
                .transfer span {
                    display: block;
                    width: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    padding: 5px 0px;
                    background-color: rgba(0, 38, 163, 0.336);
                }
                .hamburger_menu {
                    display: block;
                }
                #menu_toggle {
                    opacity: 0;
                }
                .menu_btn {
                    display: flex;
                    align-items: center;
                    position: fixed;
                    top: 20px;
                    left: 20px;
                    width: 26px;
                    height: 26px;
                    cursor: pointer;
                    z-index: 1;
                }
                .menu_btn>span,
                .menu_btn>span::before,
                .menu_btn>span::after {
                    display: block;
                    width: 100%;
                    height: 2px;
                    position: absolute;
                    background-color: #616161;
                    transition: .25s;
                }
                .menu_btn>span::before {
                    content: "";
                    top: -8px;
                }
                .menu_btn>span::after {
                    content: "";
                    top: 8px;
                }
                .hamburger_menu_list {
                    display: block;
                    position: fixed;
                    visibility: hidden;
                    top: 0;
                    left: -100%;
                    width: 100%;
                    height: 100%;
                    padding: 80px 0px;
                    list-style: none;
                    text-align: center;
                    transition: .25s;
                    background-color: rgba(255, 255, 255, 0.89);
                }
                .menu_item {
                    display: block;
                    padding: 12px 24px;
                    color: black;
                    font-size: 20px;
                    text-decoration: none;
                    transition: .25s;
                }
                .menu_item:hover {
                    background-color: #ccc;
                }
                #menu_toggle:checked~.menu_btn>span {
                    transform: rotate(45deg);
                }
                #menu_toggle:checked~.menu_btn>span::before {
                    top: 0;
                    transform: rotate(0deg);
                }
                #menu_toggle:checked~.menu_btn>span::after {
                    top: 0;
                    transform: rotate(90deg);
                }
                #menu_toggle:checked~.hamburger_menu_list {
                    visibility: visible;
                    left: 0;
                }
            }
            
            @media(max-width:1000px) {
                .container {
                    width: 90%;
                }
                iframe {
                    width: 100%
                }
                .gallery_item {
                    flex-direction: column;
                }
                .gallery_item:nth-child(2) {
                    flex-direction: column-reverse;
                }
                .gallery_item h3 {
                    padding: 100px 0;
                }
                .transfer {
                    width: 100%;
                }
            }